%td{ colspan: '3' }
  %td#frame{ colspan: '3' }
    - if frame.is_strike?
      X
    - elsif frame.is_spare?
      #{frame.first_roll} , /
    - elsif frame&.first_roll.eql?(0) && frame&.second_roll.eql?(0)
      \-
    - elsif frame.first_roll || frame.second_roll
      - if frame.first_roll.eql?(0)
        \- ,
      - else
        #{frame.first_roll} ,
      - if frame.second_roll.eql?(0)
        \-
      - else
        #{frame.second_roll}
